/.Rproj.user
markdown/data/full_data.csv
markdown/output/apa7_document_ted_v1.docx
*.rds
markdown/output/apa7_document_ted_v2.docx
markdown/output/Manuskript_ted_SL_AS.docx
markdown/output/Manuskript_ted_SL_AS_clean.docx
markdown/output/Manuskript_ted_clean_10.11.2025_AS_SL.docx
/submission
